<main class="vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="card m-5">
    <div class="card-header">
      <app-filters [value]="searchValue" (search)="onSearch($event)"></app-filters>
    </div>
    <div class="card-body pt-0">
      <app-list
        [list]="list$ | async"
        [loading]="loading$ | async"
        [error]="error$ | async"
      ></app-list>
    </div>
  </div>
  <app-pagination
    [hidden]="isPaginationHidden$ | async"
    [data]="paginationData$ | async"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</main>


